/* ↓  Page Reset ↓  */
* {
    margin: 0em;
    border: 0em;
    padding: 0em;
    box-sizing:  border-box;
    vertical-align: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    background-color: white;
}
/* ↑ Page reset ↑  */

/* ↓  Define Page Colors ↓  */
:root {
    --custom-background-color: hsla(200, 70%, 49%, 1);
    --custom-background-color2:hsla(42, 100%, 63%, 1);
    --custom-linear-gradient: linear-gradient(90deg, var(--custom-background-color) 0%, hsla(42, 100%, 63%, 1) 100%);
}
.background {
    background: hsla(200, 70%, 49%, 1);
    background: linear-gradient(90deg, hsla(200, 70%, 49%, 1) 0%, hsla(42, 100%, 63%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(200, 70%, 49%, 1) 0%, hsla(42, 100%, 63%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(200, 70%, 49%, 1) 0%, hsla(42, 100%, 63%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#269bd6", endColorstr="#ffc540", GradientType=1 );
}
/* ↑ Define Page Colors ↑  */

/* ↓  Link Default Style Removal ↓  */
a {
    color: black;
    text-decoration: none;
}
/* ↑ Link Default Style Removal ↑  */

/* ↓  Image resizing ↓  */
#DadScriptLogo, #DadScriptLogo2 {
    min-width: 6.25em;
    max-width: 18.75em;
}
#DadScriptLogo {
    margin: 20px 10px 0px;
}
.bottompageicons {
    background-color: var(--custom-background-color);
}
.placeholder_image {
    display: block;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
    margin: auto;
    /* border: red solid 1px; */
}

/* ↑ Image resizing ↑ */

/* ↓  Building Header ↓  */
.header {
    display: flex;
    flex-direction: row;
    min-width: 1320px;
    color: black;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid black;
}
ul {
    display: flex;
    width: auto;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    margin: 0;
}
/* ↑ Building Header ↑ */

/* ↓  Design on header list elements ↓  */
li {
    white-space: nowrap;
    padding: 0px 25px;
    font-size: 18px;
}
li:not(#DadLineItem).grow {
    cursor: pointer;
}

/* ↑ Design on header list elements ↑ */

/* ↓ Page Title ↓  */
.page_title {
    display: flex;
    min-width: 1320px;
    align-items: flex-end;
    color: black;
    font-size: 3.125em;
    padding: 1% 0% 1% 20%;
    font-weight: bolder;
}
/* ↑ Page Title ↑ */

/* ↓ Bottom Of Page ↓  */
.bottom_of_page, #copywrite{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: var(--custom-background-color);
}
#copywrite {
    margin: auto;
}
/* ↑ Bottom Of Page ↑ */

/* ↓ Body Transition ↓  */
.body_container, .page_title {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-15deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
/* ↑ Body Transition ↑ */

/* ↓ Header Tabs Styling ↓  */
.grow { 
    transition: all .02s ease; 
}
.grow:hover { 
transform:scaleX(1);
border: 2px black solid;
}

/* ↑ Header Tabs Styling ↑ */

/* ↓ Move to Top button ↓  */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 15%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/* ↑ Move to Top button ↑ */
