* {
    margin: 0em;
    border: 0em;
    padding: 0em;
    box-sizing:  border-box;
    vertical-align: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    background-color: white;
}

:root {
    --yellow:hsl(43, 100%, 71%);
}
/* Page reset ↑  */

/* ↓  Image resizing ↓  */
#DadScriptLogo, #DadScriptLogo2 {
    min-width: 6.25em;
    max-width: 18.75em;
}
#DadScriptLogo {
    margin-top: 20px;
}

#DadScriptLogo2 {
    background-image:url(Untitled\ design\ \(2\).png);
    border-image: none;
}

.placeholder_image {
    display: block;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
    margin: auto;
    /* border: red solid 1px; */
}

/* ↑ Image resizing ↑ */

/* ↓  Building Header ↓  */
.header {
    display: flex;
    flex-direction: row;
    min-width: 1320px;
    color: black;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid black;
}

ul {
    display: flex;
    width: auto;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    margin: 0;
}
/* ↑ Building Header ↑ */


/* ↓  Design on header list elements ↓  */
li {
    padding: 0em 1.25em;
    white-space: nowrap;
}
li:not(#DadLineItem):hover {
    background-color: var(--yellow);
    color: black;
    cursor: pointer;
}
li:not(#DadLineItem) {
    border-right: 0.063em solid black;
}
#home, #blogs {
    border-left: 0.063em solid black;
}
/* ↑ Design on header list elements ↑ */

.page_title {
    display: flex;
    justify-content: left;
    min-width: 1320px;
    align-items: flex-end;
    background-color: hsl(43, 100%, 71%);
    color: black;
    font-size: 3.125em;
    padding: 1% 0% 1% 20%;
    font-weight: bolder;
    border-bottom: 1px solid black;
    background-image:url(Untitled\ design\ \(2\).png);
}

/* ↓ Main Content ↓  */

.body_container {
    display: flex;
    flex-direction: row;
    max-width: 75em;
    min-width: 1320px;
    color: black;
    /* border: 0.07em dotted red; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.00em;
}

.left_column, .right_column {
    flex-direction: column;
    flex: 2;
    margin: 10px;
    /* border: 0.07em dotted green; */
}

.individual_blocks {
    margin-bottom: 20px;
    width: auto;
    border: 0.07em solid silver;
    padding: 20px;
}

#blog_categories {
    flex: 1.2;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-inline-start: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-size-adjust: 100%;
    }

.blog_line_item {
    border-bottom-color: black;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    text-align: left;
    background-color: silver;
}

.categories_label {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: hsl(43, 100%, 71%);
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.blog_column {
    margin-top: 15px;
}
/* ↑ Main Content ↑ */

/* ↓ Main Content - Functionality ↓  */
.individual_blocks:hover {
    background-color: hsla(43, 100%, 71%, 0.441);
}
/* ↑ Main Content - Functionality ↑ */


/* ↓ Bottom Of Page ↓  */
.bottom_of_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1320px;
    border-top: 0.07em solid black;
    padding-top: 50px;
    background-image:url(Untitled\ design\ \(2\).png);
}

.bottom_of_page_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
/* ↑ Bottom Of Page ↑ */
